@charset "UTF-8";
.c-10 {
  width: 10%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-20 {
  width: 20%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-30 {
  width: 30%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-40 {
  width: 40%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-50 {
  width: 50%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-60 {
  width: 60%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-70 {
  width: 70%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-80 {
  width: 80%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-90 {
  width: 90%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-100 {
  width: 100%;
  border-radius: 6px;
  background-color: #29ae32;
}

.m_auto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c-10 {
  width: 10%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-20 {
  width: 20%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-30 {
  width: 30%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-40 {
  width: 40%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-50 {
  width: 50%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-60 {
  width: 60%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-70 {
  width: 70%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-80 {
  width: 80%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-90 {
  width: 90%;
  border-radius: 6px;
  background-color: #29ae32;
}

.c-100 {
  width: 100%;
  border-radius: 6px;
  background-color: #29ae32;
}

.m_auto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.webviews {
  width: 100%;
  margin: auto;
}
.webviews .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #29ae32;
  color: #ffffff;
}
.webviews .intro .container h1 {
  font-size: 2rem;
  text-align: center;
}
.webviews .intro .container p {
  font-size: 1rem;
  text-align: center;
}
.webviews .intro .container .m-auto-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}
.webviews .intro .container .m-auto-btn .btn-portifolio {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  width: 160px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.webviews .sobre {
  width: 100%;
}
.webviews .sobre .container {
  padding: 10px;
}
.webviews .sobre .container .title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.webviews .sobre .container .title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: bold;
  color: #29ae32;
}
.webviews .sobre .container .row {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.webviews .sobre .container .row .c-photo {
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}
.webviews .sobre .container .row .c-photo img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.webviews .sobre .container .row .c-descricao {
  width: 100%;
}
.webviews .sobre .container .row .c-descricao p {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 20px;
}
.webviews .sobre .container .row .c-descricao .habilidades {
  width: 100%;
}
.webviews .sobre .container .row .c-descricao .habilidades .h-item {
  width: 100%;
  margin-bottom: 10px;
}
.webviews .sobre .container .row .c-descricao .habilidades .h-item .h-title {
  width: 100%;
}
.webviews .sobre .container .row .c-descricao .habilidades .h-item .h-title h3 {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-weight: bold;
}
.webviews .sobre .container .row .c-descricao .habilidades .h-item .h-c-porcentagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 25px;
}
.webviews .sobre .container .row .c-descricao .habilidades .h-item .h-c-porcentagem .h-porcentagem-geral {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 6px;
  border-radius: 6px;
}
.webviews .sobre .container .row .c-descricao .habilidades .h-item .h-c-porcentagem .h-porcentagem-geral .h-porcentagem-conhecimento {
  height: 100%;
}
.webviews .sobre .container .row .c-descricao .habilidades .h-item .h-c-porcentagem .h-porcentagem-geral span {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  margin-left: 10px;
}

.webviews .servicos {
  width: 100%;
  background-color: #29ae32;
  color: #ffffff;
}
.webviews .servicos .container {
  padding: 10px;
}
.webviews .servicos .container .s-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webviews .servicos .container .s-title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}
.webviews .servicos .container .s-carrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}
.webviews .servicos .container .s-carrousel .s-carrousel-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}
.webviews .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item {
  min-height: 260px;
  background-color: #ffffff;
  color: #29ae32;
}
.webviews .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .title {
  width: 100%;
  padding: 10px;
}
.webviews .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .title p {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: bold;
}
.webviews .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 180px;
}
.webviews .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
.webviews .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .con span i {
  font-size: 38px;
}
.webviews .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10px;
}
.webviews .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .texto p {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 2.4rem;
}

.webviews .portfolio {
  width: 100%;
  min-height: 100vh;
}
.webviews .portfolio .container {
  padding: 10px;
}
.webviews .portfolio .container .p-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webviews .portfolio .container .p-title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: bold;
  color: #29ae32;
}
.webviews .portfolio .container .p-projetos {
  width: 100%;
}
.webviews .portfolio .container .p-projetos .projeto {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
}
.webviews .portfolio .container .p-projetos .projeto .photo {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.webviews .portfolio .container .p-projetos .projeto .photo img {
  width: 100%;
  height: 100%;
  position: relative;
}
.webviews .portfolio .container .p-projetos .projeto .photo img:hover .descricao {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #29ae81;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.webviews .portfolio .container .p-projetos .projeto .photo img:hover .descricao p {
  display: block;
  color: #ffffff;
}
.webviews .portfolio .container .p-projetos .projeto .photo img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.webviews .portfolio .container .p-projetos .projeto .photo .descricao {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
}
.webviews .portfolio .container .p-projetos .projeto .photo .descricao p {
  display: none;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.webviews .contato {
  width: 100%;
  margin-bottom: 30px;
}
.webviews .contato .container {
  padding: 10px;
}
.webviews .contato .container .title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webviews .contato .container .title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: bold;
  color: #29ae32;
}
.webviews .contato .container .formulario {
  width: 100%;
}
.webviews .contato .container .formulario form {
  width: 100%;
}
.webviews .contato .container .formulario form .form-group {
  width: 100%;
}
.webviews .contato .container .formulario form .form-group .controls {
  width: 100%;
  min-height: 70px;
}
.webviews .contato .container .formulario form .form-group .controls label {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-weight: bold;
  color: #29ae32;
}
.webviews .contato .container .formulario form .form-group .controls input {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #29ae32;
}
.webviews .contato .container .formulario form .form-group .controls input:active {
  border: 1px solid #29ae32;
  border-radius: 2px;
}
.webviews .contato .container .formulario form .form-group .controls input:focus {
  border: 1px solid #29ae32;
  border-radius: 2px;
}
.webviews .contato .container .formulario form .form-group .controls textarea {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 180px;
  border: 1px solid #29ae32;
  outline: none;
}
.webviews .contato .container .formulario form .form-group .controls textarea:active {
  border: 1px solid #29ae32;
  border-radius: 2px;
}
.webviews .contato .container .formulario form .form-group .controls textarea:focus {
  border: 1px solid #29ae32;
  border-radius: 2px;
}
.webviews .contato .container .formulario form .form-group .btn-form-send {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #29ae32;
  color: #ffffff;
  border-radius: 2px;
}
.webviews .contato .container .formulario form .form-group .btn-form-send:hover {
  background-color: #29ae32;
}
.webviews .contato .container .formulario form .form-group .btn-form-send:active {
  background-color: #29ae32;
}

.webviews footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #29ae32;
}
.webviews footer span {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.portfolio-titulo {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: green;
  margin-top: 10px;
  display: none; /* Inicialmente oculto */
}

.portfolio-titulo p {
  margin: 0;
}

@media only screen and (min-width: 425px) {
  .webviews .intro .container h1 {
    font-size: 2.4rem;
  }
  .webviews .intro .container p {
    font-size: 1.2rem;
  }
  .webviews .sobre .container .row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .webviews .sobre .container .row .c-photo {
    padding: 10px;
  }
  .webviews .sobre .container .row .c-descricao {
    padding: 10px;
  }
  .webviews .sobre .container .row .c-descricao p {
    font-size: 1.2rem;
  }
  .webviews .sobre .container .row .c-descricao .habilidades .h-item .h-title h3 {
    font-size: 1.2rem;
  }
  .webviews .sobre .container .row .c-descricao .habilidades .h-item .h-c-porcentagem .h-porcentagem-geral span {
    font-size: 1.2rem;
  }
  .webviews .servicos .container .s-carrousel {
    margin-bottom: 40px;
    height: 400px;
  }
  .webviews .portfolio .container .p-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .webviews .portfolio .container .p-projetos .projeto {
    display: grid; /* Certifique-se de que o grid está ativado */
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    row-gap: 10px; /* Espaçamento entre as linhas */
    column-gap: 10px; /* Espaçamento entre as colunas */
    /* Centraliza os itens */
    justify-content: center;
    align-items: center;
  }
  .webviews .portfolio .container .p-projetos .projeto .photo {
    width: 100%; /* Ajusta para garantir que ocupe todo o espaço disponível */
    height: auto; /* Mantém proporção da imagem */
  }
  .webviews .portfolio .container .p-projetos .projeto .photo img {
    width: 100%; /* Garante que as imagens sejam responsivas */
    height: auto; /* Mantém proporção correta */
    position: relative;
  }
  .webviews .portfolio .container .p-projetos .projeto .photo img:hover .descricao {
    position: absolute;
    display: flex;
    justify-content: center; /* Centraliza o texto */
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #29ae32;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
  .webviews .portfolio .container .p-projetos .projeto .photo img:hover .descricao p {
    display: block;
    color: #ffffff;
  }
  .webviews .contato .container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .webviews .contato .formulario form .form-group {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espaçamento horizontal entre os elementos */
    margin-bottom: 10px;
  }
  .webviews .contato .formulario form .form-group .container {
    padding: 6px;
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .webviews .intro .container h1 {
    font-size: 3rem;
  }
  .webviews .intro .container p {
    font-size: 1.6rem;
  }
  .webviews .intro .container .m-auto-btn {
    margin-top: 10px;
  }
  .webviews .intro .container .m-auto-btn .btn-portifolio {
    font-family: "Ruda", sans-serif;
    font-weight: 400;
    width: 180px;
    height: 40px;
  }
  .webviews .intro .container .m-auto-btn .btn-portifolio:hover {
    background-color: #29ae32;
    border-radius: 6px;
    border: 1px solid #29ae32;
  }
  .webviews .sobre .container {
    width: 90%;
    margin: auto;
  }
  .webviews .sobre .container .title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .webviews .sobre .container .title h2 {
    font-size: 2rem;
  }
  .webviews .sobre .container .row {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 40px;
  }
  .webviews .sobre .container .row .c-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }
  .webviews .sobre .container .row .c-photo img {
    width: 100%;
    max-width: 400px;
  }
  .webviews .sobre .container .row .c-descricao {
    padding: 10px;
    margin-top: 0px;
  }
  .webviews .sobre .container .row .c-descricao p {
    font-size: 1.2rem;
    margin-bottom: 25px;
  }
  .webviews .sobre .container .row .c-descricao .habilidades .h-item .h-title {
    width: 100%;
  }
  .webviews .sobre .container .row .c-descricao .habilidades .h-item .h-title h3 {
    font-size: 1.2rem;
  }
  .webviews .sobre .container .row .c-descricao .habilidades .h-item .h-c-porcentagem .h-porcentagem-geral span {
    font-size: 1.2rem;
  }
  .webviews .servicos .container {
    width: 90%;
    margin: auto;
  }
  .webviews .servicos .container .s-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .webviews .servicos .container .s-title h2 {
    font-size: 2rem;
  }
  .webviews .servicos .container .s-carrousel {
    width: 96%;
    margin: auto;
    margin-bottom: 50px;
  }
  .webviews .portfolio {
    min-height: auto;
  }
  .webviews .portfolio .container {
    width: 90%;
    margin: auto;
  }
  .webviews .portfolio .container .p-title h2 {
    font-size: 2rem;
  }
  .webviews .portfolio .container .p-projetos {
    padding: 10px;
  }
  .webviews .portfolio .container .p-projetos .projeto {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 10px;
    column-gap: 10px;
  }
  .webviews .portfolio .container .p-projetos .projeto .photo {
    height: 100%;
  }
  .webviews .portfolio .container .p-projetos .projeto .photo img {
    position: relative;
  }
  .webviews .portfolio .container .p-projetos .projeto .photo img:hover .descricao {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #29ae32;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
  .webviews .portfolio .container .p-projetos .projeto .photo img:hover .descricao p {
    display: block;
    color: #ffffff;
  }
  .webviews .contato {
    margin-bottom: 50px;
  }
  .webviews .contato .container {
    width: 90%;
    margin: auto;
  }
  .webviews .contato .container .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .webviews .contato .container .title h2 {
    font-size: 2rem;
  }
  .webviews .contato .container .formulario form .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .webviews .contato .container .formulario form .form-group .container {
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
.webviews .container-whatsapp{
  display: flex !important;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 10px;
  min-width: 40px;
  min-height: 40px;
  z-index: 9999;
  
} 
.btn-whatsapp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: green
  
} i{
  font-size: 4rem;
  color: #ffffff;
  &:hover{
    background-color: #1e8865;
    border: 2px solid white;
  }
} 
.projeto .photo {
  position: relative;
}

.projeto .photo .portfolio-titulo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.projeto .photo:hover .portfolio-titulo {
  opacity: 1;
  visibility: visible;
}


